.posts #content{
	/*background: #fff;*/
	color: #000; line-height: 190%;
}
.posts #content .form-control{ color: #000; }

.posts h1{ text-align: left; }
.post-header-image{
	display: block;
	margin: auto;
}

.blog-post{
	background: #fff;
	margin-bottom: 3em;
	padding: 1em;
	line-height: 190%;
}
.blog-post .post-header-image{
	max-width: 100%;
	margin-bottom: 2em;
}
.blog-post img{
	max-width: 100%;
}

.posts-list h1{
	font-size: 26px;
	margin: .5em;
	text-align: center;
}
.posts-list .post-header-image{
	/*width: 100%;*/
	height: 200px;
	margin-bottom: 1em;
}

article.post_body img{
	padding: 4px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	display: inline-block;
	max-width: 100%;
}

.share-post .panel{ text-align: center; }
#sidebar .share-post .panel-heading{ font-size: 14px; }